body{
    margin: 5% 10% 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(képek/warriorBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.universe{
    position: absolute;
    width: 100px;
    background-color: rgba(0, 0, 255, 0.372);
    border-radius: 50px;
}
.universe:hover{
    box-shadow: blueviolet 1px 1px 30px 1px;
}

#bevezeto{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: rgb(42, 42, 42);
    text-align: center;
    padding-bottom: 30px;
    font-size: larger;
}

#bg{
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 30px;
}

.pic{
    max-width: 100%;
    border: 2px solid rgb(131, 49, 20);
    border-radius: 20px;
}

#trainText{
    font-size: 30px;
    margin: 17.5%;
    font-weight: bold;
}

.row{
    display: flex;
}

.container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Questions{
    display: block;
}
#Questions button{
    font-size: 20px;
}

#Answer{
    margin-top: 30px;
    width: 100%;
    height: auto;
    border: 3px solid rgb(76, 77, 94);
    background-color: rgb(159, 166, 172);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
}

.container button{
    margin: 5% 20%;
    height: 80px;
    width: 60%;
}

#ending{
    margin-top: 250px;
    margin-bottom: 250px;
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button_container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* #button_container:hover{
    background-image: url(/képek/Nits_REDLIGHT.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/

button{
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: orange;
    border-radius: 0.5cm;
    cursor: pointer;
    background-color: orange;
    transition: 1s;
    display: block;
    width: 25%;
    padding: 10px;
}

button:hover{
    background-color: tomato;
    transition: 1s;
}