body{
    margin: 5% 10% 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 14, 44);
    background-image: url(/képek/sci-fi-deep-space-background-loop-free-video.jpg);
    background-repeat: no-repeat;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#bevezeto{
    text-align: center;
    padding-bottom: 30px;
    font-size: larger;
}


#elso_helyezet{
    text-align: center;
    color: #F0bf60;
    padding-bottom: 100px;
}

#masodik_helyezet{
    text-align: center;
    color: darkgrey;
    background-image: url(/képek/bg_helyezet.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

#harmadik_helyezet{
    text-align: center;
    color: brown;
    background-image: url(/képek/bg_helyezet.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

#nyeremeny img{
    max-width: 90%;
    max-height: 90%;
}

.row{
    display: flex;
}

.container{
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

#text_right{
    padding-right: 100px;
}

#text_left{
    padding-left: 100px;
}

/*.container1, .container2{
    width: 1000px;
    height: 600px;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

#nits{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#button_container{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button_container:hover{
    background-image: url(/képek/Nits_REDLIGHT.png);
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: orange;
    border-radius: 0.5cm;
    cursor: pointer;
    background-color: orange;
    transition: 1s;
    display: block;
    width: 25%;
    padding: 10px;
}

button:hover{
    background-color: tomato;
    transition: 1s;
}