body{
    margin: 5% 10% 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(képek/warriorBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#bevezeto{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-align: center;
    padding-bottom: 30px;
    font-size: larger;
}

#nyeremeny img{
    max-width: 90%;
    max-height: 90%;
}

.row{
    display: flex;
}

.container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Questions{
    display: block;
}
#Questions button{
    font-size: 20px;
}

#Answer{
    margin-top: 30px;
    width: 100%;
    height: auto;
    border: 3px solid rgb(76, 77, 94);
    background-color: rgb(159, 166, 172);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
}

.container button{
    margin: 5% 20%;
    height: 80px;
    width: 60%;
}

#ending{
    margin-top: 250px;
    margin-bottom: 250px;
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button_container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* #button_container:hover{
    background-image: url(/képek/Nits_REDLIGHT.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/

@keyframes rightLeft{
    0% {transform: translateX(0);}
    25%{transform: translateX(-100%);}
    50%{transform: translateX(0);}
    75%{transform: translateX(100%);}
    100%{transform: translateX(0);}
}

@keyframes bouncing{
    0% {transform: translateX(0) translateY(0);}
    25%{transform: translateX(-100%) translateY(100%);}
    50%{transform: translateX(0) translateY(0);}
    75%{transform: translateX(100%) translateY(-100%);}
    100%{transform: translateX(0) translateY(0);}
}

#bounce1{
    animation: rightLeft 3s infinite;
}

#bounce2{
    animation: bouncing 2s infinite;
}

button{
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: orange;
    border-radius: 0.5cm;
    cursor: pointer;
    background-color: orange;
    transition: 1s;
    display: block;
    width: 25%;
    padding: 10px;
}

button:hover{
    background-color: tomato;
    transition: 1s;
}

