body{
    margin: 0 auto;
    background-image: linear-gradient(90deg,rgb(0, 0, 0), rgb(0, 20, 0), rgb(0, 20, 0), rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.universe{
    position: absolute;
    width: 100px;
    background-color: rgba(0, 0, 255, 0.372);
    border-radius: 50px;
}
.universe:hover{
    box-shadow: blueviolet 1px 1px 30px 1px;
}
h1{
    margin:  200px auto;
    margin-bottom: 300px;
    text-align: center;
    font-size: 100px;
}
h2{
    text-indent: 200px;
    font-size: 60px;
    margin-bottom: 120px;
}
button{
    margin-left: 200px;
}
ul{
    list-style:upper-roman;
    font-size: 30px;
    margin-bottom: 100px;
}
li{
    margin-left: 120px;
    margin-bottom: 60px;
    
}

.bemutato h2{
    margin-top: 10px;
    text-align: center;
    background-color: black;
    text-indent: 0;
    padding: 60px;
    margin-bottom: 50px;
    font-size: 90px;
}
.bemutato h3{
    text-align: center;
    font-size: 50px;
    margin-bottom: 220px;
}
.bemutato p, .bemutato h5{
    text-indent: 30px;
    margin-bottom: 180px;
    font-size: 35px;
}
.triplenits{
    background-image: url("/képek/chemistry-drugs-molecule-wallpaper-preview.jpg");
    margin-bottom: 200px;
}
.triplanits{
    border: rgb(1, 152, 1) 8px solid;
    box-shadow: rgb(1, 182, 1) -20px 1px 120px 10px;
    border-radius: 15px;
    float: inline-end;
    width: 20%;
    height: 500px;
    
   
    
}
.triplao{
    border: rgb(1, 152, 1) 8px solid;
    box-shadow: rgb(1, 182, 1) 20px 1px 120px 10px;
    border-radius: 15px;
    width: 20%;
    height: 500px;   
    

    

    

    
}
.eloallitas{
    height: 800px;
    
    width: 100%;

}
.eloallszoveg{
    width: 60%;
    background-image:linear-gradient(90deg,rgba(0, 128, 0, 0.784), rgba(0, 128, 0, 0.853), rgba(0, 128, 0, 0.733), rgba(0, 128, 0, 0));
    height: 800px;
    text-align: justify;
    left: 80px;
    padding: 20px;
    position: relative;
    border-top: rgba(0, 128, 0, 0.12) 2px solid;
    border-bottom: rgba(0, 128, 0, 0.12) 2px solid;
   
    
}
.eloallszoveg p{
    width: 100%;
    
    
}
.eloallszoveg h4{
    font-size: 40px;
}
#myVideo{
    height: 840px;
    float: right;
    

}
#tudosok{
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 100px;
}
.heading{
    padding-top: 200px;
    background-image: url("/képek/marijuana-6088355_1280.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bevcim ul{
    padding: 100px;
    background-image: url("/képek/racs.png");
    font-size: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bevcim ul li{
    background-image: linear-gradient(90deg,black, black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.bevcim h2{
    text-shadow: whitesmoke 3px 2px 8px;
    background-image: linear-gradient(90deg,rgba(255, 217, 0, 0.072), rgba(255, 217, 0, 0.089), rgba(192, 192, 192, 0.071));
}
button{
    margin-bottom: 200px;
    width: 300px;
    height: 120px;
    font-size: 40px;
    color: rgb(0, 193, 0);
    background-color: rgba(0, 0, 0, 0.284);
    border: rgb(0, 193, 0) 2px solid;
    border-radius: 30px;
    box-shadow: green 2px 2px 50px 5px;
    transition: 0.5s;
}
button:hover{
color:rgba(0, 0, 0, 0.899) ;
background-color:rgb(0, 193, 0) ;
box-shadow: green 1px 1px 100px 5px;


}
.nitsimg{
    width: 20%;
    position: relative;
    left: 15%;
    height: 500px;
    width: 30%;
    opacity: 0.3;
    border-radius: 500px;
    
}
b{
    font-size: 150%;
}
#formaban{
    margin-top: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.pillsmind{
    width: 55%;
    
    margin-left: 22.5%;
    margin-right: 22.5%;
    border-radius: 200px;
}
#rendelj{
    margin-top: 100px;
    font-size: 70px;
    background-color: rgba(0, 0, 0, 0.283);
    width: 60%;
    float: left;
}
.rendel{
    margin-top: 100px;
    float: right;
    margin-right: 10%;
    margin-left: 0;
    box-shadow: none;
}
.rendel:hover{
    margin-bottom: 200px;
    width: 300px;
    height: 120px;
    font-size: 40px;
    color: rgba(0, 193, 0, 0.458);
    background-color: rgba(0, 0, 0, 0.183);
    border: rgba(0, 193, 0, 0.29) 2px solid;
    border-radius: 30px;
    box-shadow: none;
}
#sideef{
    width: 100%;
    float: left;
    font-size: 15px;
}
.fuhatter{
    margin-top: 200px;
    background-image: url("/képek/420-cannabis-drug-drugs-wallpaper-preview.jpg");
    width: 100%;
    height: 500px;
}
#l1{
    transition: 0.8s;
}
#l2{
    transition: 1.5s;
}
#l3{
    transition: 2s;
}
#l4{
    transition: 2.5s;
}
#l5{
    transition: 3s;
}
.switch {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 68px;
  margin-left: 30px;
  margin-right: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000009f;
  -webkit-transition: .4s;
  transition: .4s;
  

}

.slider:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  left: 12px;
  bottom: 4px;
  background-color: rgb(0, 51, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
  box-shadow: rgb(3, 206, 3) 0 0 20px 3px;
}



input:checked + .slider:before {
  -webkit-transform: translateX(98px);
  -ms-transform: translateX(98px);
  transform: translateX(98px);
  background-color: rgb(2, 145, 2);
  box-shadow: rgb(3, 206, 3) 0 0 20px 2px;

}

/* Rounded sliders */
.slider.round {
  border-radius: 102px;
}

.slider.round:before {
  border-radius: 50%;
}
.vveffektswitch{
    margin: auto;
    margin-top: 150px;
    width: 30%;
    font-size: 40px;
}

.hatas{
    font-size: 80px;
    text-align: center;
}
#cantshow{
    font-size: 50px;
    text-align: center;
    margin: auto;
    display: block;
    
}

#trexrun{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    height: 300px;
    background-image: none;
    font-size: 30px;
    color: black;
    background-color: white;
}
/* trex run */

#desert{
    position: relative;
    bottom: 0px;
    background-image: url('img/t-rex-background.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
    animation: hattermozgas 3000s infinite linear;
    -webkit-animation: hattermozgas 3000s infinite linear;
    
}

.dino{
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 60px;
    background-image: url('img/t-rex.png');
}

.cactus{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-image: url('img/cacti.png');
}
#alert{
    font-size: 30px;
    position: relative;
}

@keyframes hattermozgas{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0%;
    }
}

/* trex run */
.karaktervalaszt{
    width: 1200px;
    margin: auto;
    margin-bottom: 200px;
    margin-top: 200px;
    height: 400px;
    border: rgb(0, 193, 0) solid 2px;
    box-shadow: 2px 2px 30px 3px rgb(0, 193, 0);
    display: none;
    background-color: rgb(0, 24, 0);
}
.karaktervalaszt h3{
    text-align: center;
    font-size: 40px;
}
.karaktervalaszt .card{
    width: 50%;
}
.karaktervalaszt h2{
    font-size: 40px;
    position: absolute;
}
.cardkarakter{
    float: left;
} 
.cardakadály{
    float: right;
}
#karaktergomb{
    height: 60px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
.kcontent{
    display:inline-block;
    margin-left: 42%;
    width: 100px;
    transform: scale(2);
    margin-top: 30px;
    margin-bottom: 80px;
    
   
}
.nyil{
    position: relative;
    bottom: 20px;
    transform: scale(1.5);
}
.nyil:hover{
 color: greenyellow;
 transition: 0.5s;
 cursor: pointer;
}

/* molegame */
.molegame{
    height: 1500px;
}
.molegame h1{
    text-align: center;
    font-size: 65px;
    margin-bottom: 100px;
    height: auto;

}

.molegame h2.score{
    float: left;
    font-size: 30px;
    margin-bottom: 50px;
}
.molegame h2.bestScore{
    float: left;
    font-size: 30px;
    margin-bottom: 50px;


    
}
.molegame h2.timeLeft{
    clear: both;
    font-size: 30px;
    margin-bottom: 50px;


}

.molegame .wrapper{
    width: 620px;
    margin: 0 auto;
    overflow: visible;
}

.molegame .square{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.molegame .grid{
    width: 620px;
    height: 620px;
    margin: 0 auto;
    display: flex;
    flex-flow:row wrap ;
    justify-content: center;
    align-content: center;
}

.molegame .mole{
    
    background-size: cover;
}

.molegame .startGame{
    position: relative;
    top: -340px;
    width: 620px;
    text-align: center;
    background-color: green;
    font-size: 40px;
    color: white;
    padding: 10px 0;
    cursor: pointer;

}
.vveffect{
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 20, 0), rgb(0, 20, 0), rgb(0, 0, 0));
     /* background-image: url(img/vvswitchbackground.png); */
    animation: hattermozgas 3000s infinite linear;
    -webkit-animation: hattermozgas 3000s infinite linear;
    
}
.nitscurzor{
    cursor: url(img/NL_300x300.png), auto;
}




.b1,.b2{
    display: none;
}
.b1p, .b2p{
    display: block;
}